.container{
    margin:40px 0 20px 0px;
}
.title{
    font-size: 32px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    transform: translateX(-50%);
    padding-right: 10px;
    text-shadow: 0px 0px 15px #b2b2b2;
}
.title::after{
    position: absolute;
    bottom:50%;
    right:-50% ;
    content: '';
    width: 50%;
    height: 4px !important;
    background-color: #3493ff ;
    box-shadow: 0px 5px 15px #3493ffd7;
}
.title::before{
    position: absolute;
    top: 55px;
    left:0;
    content: '';
    width: 150%;
    height: 3px !important;
    background-color: #3493ff ;
    box-shadow: 0px 5px 15px #3493ffd7;
    
}
