.slider{
    max-width: 1400px;
    height: 780px;
    position: relative;
    margin: auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.sliderIn{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition-duration:75ms ;
    border-radius: 20px;
    transition:all 1s ease-in-out;

}
.btnLeftChevron{
    position: absolute;
    top: 50%;
    transform:translateX(0) ;
    transform:translateY(-50%) ;
    left: 15px;
    text-overflow:ellipsis;
    border-radius: 50%;
    /* padding: 1px 5px;
    background: rgb(0, 0, 0,.2); */
    color: white;
    cursor: pointer;
    display: none;

}
.btnRightChevron{
    position: absolute;
    top: 50%;
    transform:translateX(0) ;
    transform:translateY(-50%) ;
    right: 15px;
    text-overflow:ellipsis;
    border-radius: 50%;
    /* padding: 1px 5px; */
    /* background: rgba(0, 0, 0, 0.5); */
    color: white;
    cursor: pointer;
    display: none;
    
    
}
.slider:hover .btnLeftChevron{
    display: block;
}
.slider:hover .btnRightChevron{
    display: block;
}
.dotFilled{
    display: flex;
    justify-content: center;
    padding: 2px ;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    
}
